In [2]:
import pandas as pd

Replace strings in Python (replace, translate, re.sub, re.subn) 
and replace string in panda series

In python there are 

replace()
translate()
re.sub(), re.subn() functions 

and in pandas 

str.replace()

In [105]:
str = 'A AB ABC ABCD ABCDE'

In [ ]:
calling .replace(old_string, new_string) function

In [106]:
print(str.replace(' ', '-'))

A-AB-ABC-ABCD-ABCDE

In [ ]:
escaping all the characters in the string

In [10]:
print(str.replace(' ', ''))

AABABCABCDABCDE

In [ ]:
This you can also using the .join() and the string split function. 
In this first i split the string and then join the string

In [107]:
''.join((str.split()))

'AABABCABCDABCDE'

In [ ]:
Now replacing the specific index

In [34]:
str = 'A AB ABC ABCD ABCDE'

In [35]:
print(str.replace('ABC', 'UAC')) # replace ABC with UAC

A AB UAC UACD UACDE

However if you want to replace specific occurence of A such as index based

In [36]:
print(str.replace('ABC', 'UBC', 3)) # replace A with U

A AB UBC UBCD UBCDE

In [ ]:
You can see that it replaced first 3 instances of ABC

In [ ]:
Lets think that you have to replace 2 string at one time, then you can use the chaining indexing 
method to call the s.replace repeatedly

In [30]:
# In this chaining method all the A are replaced with U and B with G
print(str.replace('A', 'U').replace('B', 'G'))

U UG UGC UGCD UGCDE

In [ ]:
In the above replace, you are a character for a chacter or a word for a word, 
but if you have a character in a word, which you want to replace

In [31]:
str = 'A AB ABC ABCD ABCDE'

print(s.translate(str.maketrans({'A': 'o', 'B': 'b'})))

o ob obC obCD obCDE

In [ ]:
The utility of the .maketrans() function is that it accepts a dictionary, 
so you can provide as much as you want as iterables, whereas the .replace() 
only takes a 3 argument array

In [38]:
str = 'A AB ABC ABCD ABCDE'

print(s.translate(str.maketrans({'A': 'a', 'B': 'b'})))

a ab abC abCD abCDE

In [ ]:
Another feature that differentiates between the .maketrans() and .replace() is that 
in the case of the .maketrans(), your defined key value should be of len=1, 
means a character and not a string and your value can be of anything 
whereas in case of the .replace,you can define to any length.

In [ ]:
Replace newline character with any separator

In [60]:
str = 'A\nAB\nABC\nABCD\nABCDE'

In [61]:
print(str.replace('\n', '-'))

A-AB-ABC-ABCD-ABCDE

In [53]:
Now there are two types of splits that you can use, one is .split() and .splitlines()
.split() should be used when you have a string and .splitlines should be used when you have a 
string separated by new lines

In [62]:
str_linebreak = 'A\nAB\nABC\nABCD\nABCDE'

In [66]:
str = 'A AB ABC ABCD ABCDE'

In [64]:
print(str_linebreak.splitlines())

['A', 'AB', 'ABC', 'ABCD', 'ABCDE']

In [65]:
print(str.split())

['A', 'AB', 'ABC', 'ABCD', 'ABCDE']

In [ ]:
See here if i apply .splitlines() on the str then it will show like this, it 
made a list of the string.

In [67]:
print(str_linebreak.splitlines())

['A AB ABC ABCD ABCDE']

In [ ]:
You can use join to join this string

In [69]:
print('-'.join(str_linebreak.splitlines()))

A-AB-ABC-ABCD-ABCDE

In [70]:
print('-'.join(str.split()))

A-AB-ABC-ABCD-ABCDE

In [ ]:
To enlist all; 

remove the white space:df.columns =  df.columns.str.replace(' ', '') or 
    replace it with any character df.columns = df.columns.str.replace(' ', '_')
remove the white space at the start of the string: df.columns =     df.columns.str.lstrip()
remove the white space at the end of string:df.columns =   df.columns.str.rstrip()
remove the white space at both ends: df.columns = df.columns.str.strip()


remove the spaces using the regex
    remove the white space at start of the string:df.columns = df.columns.str.replace('^ +', '_')
    remove the white space at the end of the string:df.columns = df.columns.str.replace(' +$', '_')
    remove the white space at both ends:df.columns = df.columns.str.replace('^ +| +$', '_')
        
remember this in the above I am using .columns which means i am using a indexed column, 
you can put this on the column also

df[col] = df[col].str.strip()
    
    can it be chained and the answer is yes 
    
    df.columns = df.columns.str.strip().str.replace(' ', '_') or 
        df[col] = df[col].str.strip().str.replace(' ', '_')

In [71]:
import pandas as pd

In [72]:
import csv as cv

In [75]:
data=pd.read_csv('/Users/dr.gauravsablok/pandas/Datasets/temperature-anomaly.csv')

In [76]:
data.head()

,Entity,Code,Year,Median temperature anomaly from 1961-1990 average,Upper bound (95% CI),Lower bound (95% CI)
0,Global,NaN,1850,-0.373,-0.339,-0.425
1,Global,NaN,1851,-0.218,-0.184,-0.274
2,Global,NaN,1852,-0.228,-0.196,-0.280
3,Global,NaN,1853,-0.269,-0.239,-0.321
4,Global,NaN,1854,-0.248,-0.218,-0.301

In [78]:
data.columns

Index(['Entity', 'Code', 'Year',
       'Median temperature anomaly from 1961-1990 average',
       'Upper bound (95% CI)', 'Lower bound (95% CI)'],
      dtype='object')

In [79]:
data.columns.values

array(['Entity', 'Code', 'Year',
       'Median temperature anomaly from 1961-1990 average',
       'Upper bound (95% CI)', 'Lower bound (95% CI)'], dtype=object)

In [80]:
data.index

RangeIndex(start=0, stop=680, step=1)

In [82]:
data.columns.str.replace(' ', '_') # see below the spaces in the columns are replaced by _

Index(['Entity', 'Code', 'Year',
       'Median_temperature_anomaly_from_1961-1990_average',
       'Upper_bound_(95%_CI)', 'Lower_bound_(95%_CI)'],
      dtype='object')